    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .deal-name-container {
      display: none;
    }

    .required-field::after {
      content: " *";
      color: red;
      margin-right: 4px;
    }
    .btn {
        display: none;
    }